<?php
$httpResponseCode = isset($this->httpResponseCode) ? $this->httpResponseCode : 500;
?>
<div class="error-page clearfix">
  <h2 class="headline text-yellow"><?php echo $httpResponseCode; ?></h2>

  <div class="error-content">
    <br>
    <?php if($httpResponseCode == 404): ?>
    <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
    <p>
      We could not find the page you were looking for.
    </p>
    <?php else: ?>
    <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>
    <p>
      We will work on fixing that right away.
    </p>
    <?php endif; ?>

  </div><!-- /.error-content -->
</div><!-- /.error-page -->

<?php
$displayExceptions = isset($this->displayExceptions) ? $this->displayExceptions : false;
$boxClass = ($displayExceptions) ? '' : 'hidden';
?>
<div class="box box-danger box-solid clearfix <?php echo $boxClass; ?>">
  <div class="box-header with-border">
    <h3 class="box-title">Error</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i></button>
      <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
        <i class="fa fa-times"></i></button>
    </div>
  </div>

  <div class="box-body">
    
    <div class="section">
        <!-- <h1>An error occurred</h1> -->
        <h2><?php echo $this->message ?></h2>

        <?php if (isset($this->exception)): ?>

        <h3>Exception information:</h3>
        <p>
            <b>Message:</b> <?php echo $this->exception->getMessage(); ?>
        </p>

        <h3>Stack trace:</h3>
        <pre class="pre-scrollable"><?php echo $this->exception->getTraceAsString(); ?></pre>

        <h3>Request Parameters:</h3>
        <pre class="pre-scrollable"><?php echo $this->escape(var_export($this->request->getParams(), true)); ?></pre>

        <?php endif ?>

        <!--<p>Edit in <?php echo __FILE__; ?></p>-->
    </div>

  </div>
  <!-- /.box-body -->
  <div class="box-footer hidden">
    Footer
  </div>
  <!-- /.box-footer-->
</div>
<!-- /.box -->
