<script type="text/javascript">
function getApiUrl(){
  return "<?php echo $this->baseUrl('/login'); ?>";
}
function getSuccessUrl(){
  return "<?php echo $this->baseUrl('/'); ?>"; 
}
</script>
<div class="login-box">
  <div class="login-logo">
    <b>GDP</b> Ads
  </div>

  <div class="login-box-body">
    <!-- <p class="login-box-msg">Sign in to start your session</p> -->

    <form id="form-customer-login" method="post" autocomplete="off">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Email" id="input-email" name="login_name" autocomplete="off">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" id="input-password" name="login_pass" autocomplete="off">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-6">
          &nbsp;
        </div>

        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          <input type="hidden" id="csrf-token" name="csrf_token" value="<?php echo $this->csrfToken; ?>">
          <input type="text" id="input-honeypot" name="honeypot" class="input-honeypot" size="1" value="">
        </div>
      </div><!-- .row -->
      
      <div id="login-error-message" class="error-blockx alert alert-danger hidden" style="margin-top: 10px;">
        [error message]
      </div>

    </form>

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
