<?php
$formData = isset($this->formData) ? $this->formData : array();

$id = isset($formData['id']) ? $formData['id'] : 0;
$display_name = isset($formData['display_name']) ? $formData['display_name'] : '';
$login_name   = isset($formData['login_name']) ? $formData['login_name'] : '';
$login_pass   = isset($formData['login_pass']) ? $formData['login_pass'] : '';
?>
<script type="text/javascript">
function getApiUrl(){
  return "<?php echo $this->baseUrl('/administrator-update'); ?>";
}
function getSuccessUrl(){
  return "<?php echo $this->baseUrl('/administrator'); ?>";
}
function getListingUrl(){
  return "<?php echo $this->baseUrl('/administrator'); ?>";
}
</script>
<div class="box box-primary" id="box-administrator-update">
    <div class="box-header with-border">
        <h3 class="box-title">Administrator</h3>
    </div><!-- /.box-header -->

  
    <div class="box-body">
        <form role="form" id="form-administrator" method="post">
        <input type="hidden" id="csrf-token" name="csrf_token" value="<?php echo $this->csrfToken; ?>">
        <input type="hidden" id="input-id" name="data[id]" value="<?php echo $id; ?>">
        <input type="text" id="input-honeypot" name="honeypot" class="input-honeypot" size="1" value="">
        
        <div class="form-group">
            <label for="input-username">Display Name</label>
            <input class="form-control" id="input-display-name" name="data[display_name]" placeholder="Enter display name" type="text" value="<?php echo $display_name ; ?>">
            <p class="error-block">Example block-level help text here.</p>
        </div>

        <div class="form-group">
            <label for="input-username">Login Name</label>
            <input class="form-control" id="input-login-name" name="data[login_name]" placeholder="Enter login name" type="text" value="<?php echo $login_name ; ?>">
            <p class="error-block">Example block-level help text here.</p>
        </div>

        <?php if($id != 0) : ?>
        <div class="form-group">
            <label for="input-password">New Password <i>(*Overwrite existing password)</i></label>
            <input class="form-control" id="input-password-new" name="data[password]" placeholder="Enter new password" type="password">
            <p class="error-block">Example block-level help text here.</p>
        </div>
        <?php else: ?>
        <div class="form-group">
            <label for="input-password">Password</label>
            <input class="form-control" id="input-password" name="data[password]" placeholder="Enter Password" type="password">
            <p class="error-block">Example block-level help text here.</p>
        </div>
        <?php endif; //if($id != 0) ?>

        </form>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
        <button type="button" class="btn btn-primary" id="btnCancel">Cancel</button>
    </div>

    <div class="overlay hidden">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<!-- MODAL: modal-edit-error -->
<div class="modal" id="modal-edit-error">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red-active">
                <h4 class="modal-title">Error</h4>
            </div>

            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <div>
                    Please contact XXXXXXXXXXX or visit our branch.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: modal-edit-success -->
<div class="modal" id="modal-edit-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green-active">
                <h4 class="modal-title">Success</h4>
            </div>

            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <br>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success pull-right" onclick="window.location.href = getSuccessUrl();">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->