<?php
$formData = isset($this->formData) ? $this->formData : array();

$id = isset($formData['id']) ? $formData['id'] : 0;
$ads_name  = isset($formData['ads_name']) ? $formData['ads_name'] : '';
$ads_type  = isset($formData['ads_type']) ? $formData['ads_type'] : '';
$ads_price = isset($formData['ads_price']) ? $formData['ads_price'] : 0;
?>
<script type="text/javascript">
function getApiUrl(){
  return "<?php echo $this->baseUrl('/advertistment-update'); ?>";
}
function getSuccessUrl(){
  return "<?php echo $this->baseUrl('/advertistment'); ?>";
}
function getListingUrl(){
  return "<?php echo $this->baseUrl('/advertistment'); ?>";
}
</script>
<div class="box box-primary" id="box-advertistment-update">
    <div class="box-header with-border">
        <h3 class="box-title">Advertisment</h3>
    </div><!-- /.box-header -->

    <div class="box-body">
        <form role="form" id="form-advertistment" method="post">
        <input type="hidden" id="csrf-token" name="csrf_token" value="<?php echo $this->csrfToken; ?>">
        <input type="hidden" id="input-id" name="data[id]" value="<?php echo $id; ?>">
        <input type="text" id="input-honeypot" name="honeypot" class="input-honeypot" size="1" value="">

        <div class="form-group">
            <label>Type</label>
            <select class="form-control" id="select-type" name="data[ads_type]">
                <option value="0">Select Advertisment Type</option>
                <?php
                $listAdsType = isset($this->listAdsType) ? $this->listAdsType : array();
                foreach($listAdsType as $optionValue => $optionLabel):
                    $optionSelected = ($optionValue == $ads_type) ? 'selected="selected"' : '';
                ?>
                <option value="<?php echo $optionValue; ?>" <?php echo $optionSelected; ?>><?php echo $optionLabel; ?></option>
                <?php endforeach; ?>
          </select>
            <p class="error-block">Example block-level help text here.</p>
        </div>

        <div class="form-group">
            <label for="input-username">Name</label>
            <input class="form-control" id="input-name" name="data[ads_name]" placeholder="Enter name" type="text" value="<?php echo $ads_name ; ?>">
            <p class="error-block">Example block-level help text here.</p>
        </div>

        <div class="form-group">
            <label for="input-username">Price</label>
            <input class="form-control" id="input-price" name="data[ads_price]" placeholder="Enter price" type="text" value="<?php echo number_format($ads_price, 2); ?>">
            <p class="error-block">Example block-level help text here.</p>
        </div>

        </form>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
        <button type="button" class="btn btn-primary" id="btnCancel">Cancel</button>
    </div>

    <div class="overlay hidden">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<!-- MODAL: modal-edit-error -->
<div class="modal" id="modal-edit-error">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red-active">
                <h4 class="modal-title">Error</h4>
            </div>

            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <div>
                    Please contact XXXXXXXXXXX or visit our branch.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: modal-edit-success -->
<div class="modal" id="modal-edit-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green-active">
                <h4 class="modal-title">Success</h4>
            </div>

            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <br>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success pull-right" onclick="window.location.href = getSuccessUrl();">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->