<?php
$formData = isset($this->formData) ? $this->formData : array();

$id = isset($formData['id']) ? $formData['id'] : 0;
$package_name = isset($formData['package_name']) ? $formData['package_name'] : '';
$package_type = isset($formData['package_type']) ? $formData['package_type'] : '';
$customer_id = isset($formData['customer_id']) ? $formData['customer_id'] : 0;
$advertistment_id = isset($formData['advertistment_id']) ? $formData['advertistment_id'] : 0;

//PACKAGE RULES
$package_rules = isset($formData['package_rules']) ? $formData['package_rules'] : null;

$arrPackageRules = json_decode($package_rules, true);

$arrPackageRulesDeal     = isset($arrPackageRules['deal']) ? $arrPackageRules['deal'] : array();
$package_rules_deal_buy  = isset($arrPackageRulesDeal['buy']) ? $arrPackageRulesDeal['buy'] : 0;
$package_rules_deal_free = isset($arrPackageRulesDeal['free']) ? $arrPackageRulesDeal['free'] : 0;

$arrPackageRulesDiscount      = isset($arrPackageRules['discount']) ? $arrPackageRules['discount'] : array();
$package_rules_discount_buy   = isset($arrPackageRulesDiscount['buy']) ? $arrPackageRulesDiscount['buy'] : 0;
$package_rules_discount_price = isset($arrPackageRulesDiscount['price']) ? $arrPackageRulesDiscount['price'] : 0;
?>
<script type="text/javascript">
function getApiUrl(){
  return "<?php echo $this->baseUrl('/customer-package-update'); ?>";
}
function getSuccessUrl(){
  return "<?php echo $this->baseUrl('/customer-package'); ?>";
}
function getListingUrl(){
  return "<?php echo $this->baseUrl('/customer-package'); ?>";
}
</script>
<div class="box box-primary" id="box-customer-package-update">
    <div class="box-header with-border">
        <h3 class="box-title">Customer Package</h3>
    </div><!-- /.box-header -->

    <div class="box-body">
        <form role="form" id="form-customer-package" method="post">
        <input type="hidden" id="csrf-token" name="csrf_token" value="<?php echo $this->csrfToken; ?>">
        <input type="hidden" id="input-id" name="data[id]" value="<?php echo $id; ?>">
        <input type="text" id="input-honeypot" name="honeypot" class="input-honeypot" size="1" value="">

        <div class="form-group">
            <label>Package Name</label>
            <input class="form-control" id="input-package-name" name="data[package_name]" placeholder="Enter package name" type="text" value="<?php echo $package_name ; ?>">
            <p class="error-block">Example block-level help text here.</p>
        </div>

        <div class="form-group">
            <label>Customer</label>
            <select class="form-control" id="select-customer" name="data[customer_id]">
                <option value="0">Select Customer</option>
                <?php
                $listCustomer = isset($this->listCustomer) ? $this->listCustomer : array();
                // ZC_FirePHP::info($listCustomer , '$listCustomer ');
                foreach($listCustomer as $rowIndex => $rowData):
                    $optionValue = isset($rowData['id']) ? $rowData['id'] : 0;
                    $optionLabel = isset($rowData['display_name']) ? $rowData['display_name'] : 0;
                    $optionSelected = ($optionValue == $customer_id) ? 'selected="selected"' : '';
                ?>
                <option value="<?php echo $optionValue; ?>" <?php echo $optionSelected; ?>><?php echo $optionLabel; ?></option>
                <?php endforeach; ?>
          </select>
            <p class="error-block">Example block-level help text here.</p>
        </div>

        <div class="form-group">
            <label>Advertistment</label>
            <select class="form-control" id="select-advertistment" name="data[advertistment_id]">
                <option value="0">Select advertistment</option>
                <?php
                $listAdvertistment = isset($this->listAdvertistment) ? $this->listAdvertistment : array();
                // ZC_FirePHP::info($listAdvertistment , '$listAdvertistment ');
                foreach($listAdvertistment as $rowIndex => $rowData):
                    $optionValue = isset($rowData['id']) ? $rowData['id'] : 0;
                    $optionLabel = isset($rowData['ads_name']) ? $rowData['ads_name'] : 0;
                    $optionSelected = ($optionValue == $advertistment_id) ? 'selected="selected"' : '';
                ?>
                <option value="<?php echo $optionValue; ?>" <?php echo $optionSelected; ?>><?php echo $optionLabel; ?></option>
                <?php endforeach; ?>
          </select>
            <p class="error-block">Example block-level help text here.</p>
        </div>

        <div class="form-group">
            <label>Package Type</label>
            <select class="form-control" id="select-package-type" name="data[package_type]">
                <option value="0">Select Package Type</option>
                <?php
                $listPackageType = isset($this->listPackageType) ? $this->listPackageType : array();
                foreach($listPackageType as $optionValue => $optionLabel):
                    $optionSelected = ($optionValue == $package_type) ? 'selected="selected"' : '';
                ?>
                <option value="<?php echo $optionValue; ?>" <?php echo $optionSelected; ?>><?php echo $optionLabel; ?></option>
                <?php endforeach; ?>
          </select>
            <p class="error-block">Example block-level help text here.</p>
        </div>

        <div id="package-deal">
            <h4>Package Rules - Deal</h4>
        
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Buy</span>
                    <input class="form-control" placeholder="Buy" type="text" id="input-deal-buy" name="package_rules[deal][buy]" value="<?php echo $package_rules_deal_buy; ?>">
                </div>
                <p class="error-block">Example block-level help text here.</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Free</span>
                    <input class="form-control" placeholder="Free" type="text" id="input-deal-free" name="package_rules[deal][free]" value="<?php echo $package_rules_deal_free; ?>">
                </div>
                <p class="error-block">Example block-level help text here.</p>
            </div>
        </div>

        <div id="package-deal">
            <h4>Package Rules - Discount</h4>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Buy</span>
                    <input class="form-control" placeholder="Buy" type="text" id="input-discount-buy" name="package_rules[discount][buy]" value="<?php echo $package_rules_discount_buy; ?>">
                </div>
                <p class="error-block">Example block-level help text here.</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Price Per Ad</span>
                    <input class="form-control" placeholder="Price Per Ad" type="text" id="input-discount-price" name="package_rules[discount][price]" value="<?php echo $package_rules_discount_price; ?>">
                </div>
                <p class="error-block">Example block-level help text here.</p>
            </div>
        </div>

        </form>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
        <button type="button" class="btn btn-primary" id="btnCancel">Cancel</button>
    </div>

    <div class="overlay hidden">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<!-- MODAL: modal-edit-error -->
<div class="modal" id="modal-edit-error">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red-active">
                <h4 class="modal-title">Error</h4>
            </div>

            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <div>
                    Please contact XXXXXXXXXXX or visit our branch.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: modal-edit-success -->
<div class="modal" id="modal-edit-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green-active">
                <h4 class="modal-title">Success</h4>
            </div>

            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <br>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success pull-right" onclick="window.location.href = getSuccessUrl();">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->