<script type="text/javascript">
function getApiUrl(){
  return "<?php echo $this->baseUrl('/login'); ?>";
}
function getSuccessUrl(){
  return "<?php echo $this->baseUrl('/'); ?>";
}
</script>
<div class="login-box">
  <div class="login-logo">
    <b>GDP</b> Ads
  </div>

  <div class="login-box-body">
    <!-- <p class="login-box-msg">Sign in to start your session</p> -->

    <form id="form-control-panel-login" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Login Name" id="input-login-name" name="login_name">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" id="input-password" name="login_pass">
      </div>

      <div class="row">
        <div class="col-xs-6">
          <!-- <a href="#">I forgot my password</a> -->
        </div>

        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          <input type="hidden" id="csrf-token" name="csrf_token" value="<?php echo $this->csrfToken; ?>">
          <input type="text" id="input-honeypot" name="honeypot" class="input-honeypot" size="1" value="">
        </div>
      </div><!-- .row -->

      <div id="login-error-message" class="error-blockx alert alert-danger hidden" style="margin-top: 10px;">
        [error message]
      </div>

    </form>

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
