<?php
$hideHeader = isset($this->hideHeader) ? $this->hideHeader : 0;
if($hideHeader == 1){
  return;
}

$dataMainSidebar = isset($this->dataMainSidebar) ? $this->dataMainSidebar : '';
#ZC_FirePHP::info($dataMainSidebar , basename(__FILE__));
//
$isLayoutCustomer = (strtolower($dataMainSidebar) == 'customer');
$isLayoutAdmin    = (strtolower($dataMainSidebar) == 'admin');

//TEST
#$isLayoutCustomer = 1;
#$isLayoutAdmin    = 1;

//AUTH USER
$authUser = isset($this->authUser_) ? $this->authUser_ : array();
ZC_FirePHP::info($authUser , basename(__FILE__).'.authUser');

//CUSTOMER
$customerFullName = isset($authUser['full_name']) ? $authUser['full_name'] : 'Customer Full Name';
$customerPreferredName = isset($authUser['preferred_name']) ? $authUser['preferred_name'] : 'Preferred Name';
$customerEmail  = isset($authUser['email']) ? $authUser['email'] : 'customer@email.com';
$customerMobile = isset($authUser['mobile_number']) ? $authUser['mobile_number'] : '0123456789';
$customerTotalRewardPoint = isset($authUser['total_reward_point']) ? $authUser['total_reward_point'] : 0;


//ADMIN
$adminDisplayName = isset($authUser['display_name']) ? $authUser['display_name'] : 'Demo';
$adminLoginName   = isset($authUser['login_name']) ? $authUser['login_name'] : 'demo';
?>
<header class="main-header">
  <!-- Logo -->
  <a href="<?php echo $this->baseUrl('/'); ?>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>GDP</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>GDP</b> Ads</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <?php if($isLayoutCustomer): ?>
        <!-- Reward Points -->
        <li class="dropdown user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="bg-aqua-activex visible-xs-blockx">
              <i class="fa fa-gift fa-fw" aria-hidden="true"></i> 
              <span class="hidden-xs" data-update="reward-point"><?php echo number_format($customerTotalRewardPoint); ?></span>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-body hidden">
              <b>Reward Points</b>
              <div data-update="reward-point"><?php echo number_format($customerTotalRewardPoint); ?></div>
              <hr>
              <b>Required Points</b>
              <p>
                XXX to claim your next ZZZ reward
              </p>
            </li><!-- .user-body -->

            <li class="user-body">
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item" style="border-top: none;">
                  <b>Reward Points</b>
                  <div data-update="reward-point">8,000,000</div>
                </li>
                <li class="list-group-item">
                  <b>Required Points</b>
                  <div data-update="required-point">XXX to claim your next ZZZ reward</div>
                </li>
              </ul><!-- .list-group -->
            </li><!-- .user-body -->

            <li class="user-footer">
              <div class="pull-right">
                <a href="<?php echo $this->baseUrl('/redeem'); ?>" class="btn btn-default btn-flat">Redeem</a>
              </div>
            </li><!-- .user-footer -->
          </ul>
        </li><!-- .dropdown -->
        <?php endif; //if($isLayoutCustomer) ?>

        <?php if($isLayoutCustomer): ?>
        <!-- User Account -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user-circle-o fa-fw"></i>
            <span class="hidden-xs"><?php echo $customerPreferredName; ?></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-body">
              <p><b>Profile</b></p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Full Name</b>
                  <div><?php echo $customerFullName; ?></div>
                </li>
                <li class="list-group-item">
                  <b>Preferred Name</b>
                  <div><?php echo $customerPreferredName; ?></div>
                </li>
              </ul><!-- .list-group -->
            </li><!-- .user-body -->

            <li class="user-footer">
              <div class="pull-left">
                <a href="<?php echo $this->baseUrl('/update-profile'); ?>" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="<?php echo $this->baseUrl('/logout'); ?>" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li><!-- .user-footer -->

          </ul><!-- .dropdown-menu -->
        </li><!-- .dropdown -->
        <?php endif; //if($isLayoutCustomer) ?>

        <?php if($isLayoutAdmin): ?>
        <!-- Admin Account -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user-circle-o fa-fw"></i>&nbsp;
          </a>
          <ul class="dropdown-menu">
            <li class="user-body">
              <p><b>Profile</b></p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Display Name</b>
                  <div><?php echo $adminDisplayName; ?></div>
                </li>
                <li class="list-group-item">
                  <b>Login Name</b>
                  <div><?php echo $adminLoginName; ?></div>
                </li>
              </ul><!-- .list-group -->
            </li><!-- .user-body -->

            <li class="user-footer">
              <div class="pull-left">
                <a href="<?php echo $this->baseUrl('/control-panel/update-profile'); ?>" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="<?php echo $this->baseUrl('/control-panel/logout'); ?>" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li><!-- .user-footer -->

          </ul><!-- .dropdown-menu -->
        </li><!-- .dropdown -->
        <?php endif; //if($isLayoutAdmin) ?>
        
      </ul>
    </div>
  </nav>
</header>