<?php 
$hideSidebar = isset($this->hideSidebar) ? $this->hideSidebar : 0;
if($hideSidebar == 1){
  return;
}

//
$dataMainSidebar = isset($this->dataMainSidebar) ? $this->dataMainSidebar : '';
#ZC_FirePHP::info($dataMainSidebar , basename(__FILE__));
//
$isLayoutCustomer = (strtolower($dataMainSidebar) == 'customer');
$isLayoutAdmin    = (strtolower($dataMainSidebar) == 'admin');

//TEST
#$isLayoutCustomer = 1;
#$isLayoutAdmin    = 1;
?>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <section class="sidebar">

    <!-- sidebar menu -->
    <ul class="sidebar-menu">
      <?php if($isLayoutCustomer): ?>
      <li class="header">Customer</li>
      
      <li>
        <a href="<?php echo $this->baseUrl('/'); ?>">
          <i class="fa fa-home"></i> <span>Home</span>
        </a>
      </li>

      <!-- Advertistment -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list"></i>
          <span>Advertistment</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="hidden">
            <a href="<?php echo $this->baseUrl('/advertistment-history'); ?>">
              <i class="fa fa-list"></i> History
            </a>
          </li>
          <li>
            <a href="<?php echo $this->baseUrl('/advertistment-buy'); ?>">
              <i class="fa fa-list"></i> Buy
            </a>
          </li>
        </ul>
      </li>

      <?php endif; //if($isLayoutCustomer) ?>

      <?php if($isLayoutAdmin): ?>
      <li class="header">Control Panel</li>

      <li>
        <a href="<?php echo $this->baseUrl('/'); ?>">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <!-- Customer -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list"></i>
          <span>Customer</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="<?php echo $this->baseUrl('/customer'); ?>">
              <i class="fa fa-list"></i> Customer Listing
            </a>
          </li>
          <li>
            <a href="<?php echo $this->baseUrl('/customer-package'); ?>">
              <i class="fa fa-list"></i> Customer Package
            </a>
          </li>
        </ul>
      </li>

      <!-- Advertistment -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list"></i>
          <span>Advertistment</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="<?php echo $this->baseUrl('/advertistment'); ?>">
              <i class="fa fa-list"></i> Listing
            </a>
          </li>
        </ul>
      </li>

      <!-- Administrator -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list"></i>
          <span>Administrator</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="<?php echo $this->baseUrl('/administrator'); ?>">
              <i class="fa fa-list"></i> Listing
            </a>
          </li>
        </ul>
      </li>

      <?php endif; //if($isLayoutAdmin) ?>

    </ul>
  </section><!-- /.sidebar -->
</aside>