body.bootstrap-layout{background-color:#d2d6de}.text-align-center{text-align:center}.text-align-right{text-align:right}.text-align-left{text-align:left}.input-honeypot{visibility:hidden;width:1px;height:1px}.error-block{color:#dd4b39;display:none;margin-bottom:10px;margin-top:5px}.error-block.show{display:block}.error-block.fade{opacity:0;transition:opacity 0.15s linear 0s}.form-group.has-error .error-block{display:block}.form-group.has-error .error-block.fade{opacity:1}.nav-tabs-custom-reward-registration{margin-bottom:5px}.nav-tabs-custom-reward-registration>.tab-content{padding:2px 4px}
