<!-- Default box -->
<div class="box hidden">
  <div class="box-header with-border">
    <h3 class="box-title">Title</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i></button>
      <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
        <i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    Start creating your amazing application!
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    Footer
  </div>
  <!-- /.box-footer-->
</div>
<!-- /.box -->

<div class="row">
  <div class="col-sm-6x col-md-6x">
    <img class="img-responsive" alt="100%x200" data-src="holder.js/100px350" /> 
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <img class="img-responsive" alt="500x350" data-src="holder.js/500x350" /> 
  </div>

  <div class="col-sm-6 col-md-6">
    <img class="img-responsive" alt="500x350" data-src="holder.js/500x350" /> 
  </div>
</div>