<div class="login-box">
  <div class="login-logo">
    <b>HLB</b> Rewards
  </div>

  <div class="login-box-body">

    <div class="row">
        <div class="col-xs-12">
            <p>Your have successfully logged out.</p>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary btn-block btn-flat" href="<?php echo $this->baseUrl('/login'); ?>">Sign In</a>
        </div>
    </div><!-- .row -->

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<script type="text/javascript">
var REMOVE_LOGIN_COOKIE = 1;
var LOGIN_COOKIE_PARAMS = <?php echo isset($this->loginCookieParams) ? $this->loginCookieParams : '' ; ?>;
</script>
