<!-- Default box -->
<div class="box hidden">
  <div class="box-header with-border">
    <h3 class="box-title">Title</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i></button>
      <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
        <i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    Start creating your amazing application!
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    Footer
  </div>
  <!-- /.box-footer-->
</div>
<!-- /.box -->

<div class="row">

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail"> 
        <img class="img-responsive" alt="500x350" data-src="holder.js/500x350" /> 
        <div class="caption"> 
          <h3>Thumbnail label</h3> 
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p> 
        </div> 
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail"> 
        <img class="img-responsive" alt="500x350" data-src="holder.js/500x350" /> 
        <div class="caption"> 
          <h3>Thumbnail label</h3> 
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p> 
        </div> 
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail"> 
        <img class="img-responsive" alt="500x350" data-src="holder.js/500x350" /> 
        <div class="caption"> 
          <h3>Thumbnail label</h3> 
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p> 
        </div> 
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail"> 
        <img class="img-responsive" alt="500x350" data-src="holder.js/500x350" /> 
        <div class="caption"> 
          <h3>Thumbnail label</h3> 
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p> 
        </div> 
    </div>
  </div>

</div>