<div id="container-customer-registration" class="register-box">
  <div class="register-logo">
    <b>HLB</b> Rewards
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Registration</p>

    <form method="post" action="<?php echo $this->baseUrl('/registration'); ?>">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Full name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      
      <div class="form-group has-feedback">
        <input type="tel" class="form-control" placeholder="Mobile Number">
        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-6">
        <a href="<?php echo $this->baseUrl('/login'); ?>" class="btn btn-primary btn-block btn-flat">Login</a>
        </div><!-- /.col -->
        
        <div class="col-xs-6">
          <button type="button" id="btnRegister" class="btn btn-primary btn-block btn-flat">Register</button>
        </div><!-- /.col -->
        
      </div>
    </form>

    <!-- <a href="<?php echo $this->baseUrl('/login'); ?>" class="text-center">I don't want to register</a> -->
  </div>
  <!-- /.form-box -->
</div>