<script type="text/javascript">
function getApiUrl(){
    return "<?php echo $this->baseUrl('/verify-reward-code'); ?>";
}

function getRegistrationUrl(){
    return "<?php echo $this->baseUrl('/registration'); ?>";
}

function getLoginUrl(){
    return "<?php echo $this->baseUrl('/login'); ?>";
}
</script>
<div class="login-box">
    <div class="login-logo">
        <b>HLB</b> Rewards
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Aenean commodo ligula eget dolor. Aenean massa. 
            Cum sociis natoque penatibus et magnis dis.
        </p>
        <?php
            $vCode = isset($_GET['vcode']) ? $_GET['vcode'] : '';
        ?>

        <form id="form-verify-code" name="form-verify-code" method="post" autocomplete="off" action="<?php echo $this->baseUrl('/verify-reward-code'); ?>">
            <div class="form-group">
                <input type="text" id="input-reward-code" name="data[reward_code]" class="form-control" placeholder="Enter Reward Code" autocomplete="off" value="<?php echo $vCode; ?>" >
                <span class="error-block fade" for-id="input-reward-code">Help block with error</span>
            </div><!-- .form-group -->

            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <button type="submit" id="btn-verify-code" name="btn-verify-code" class="btn btn-primary btn-block btn-flat">Verify</button>
                </div>
            </div><!-- row -->

            <input type="hidden" id="customer-reference" name="customer_reference" value="0">
            <input type="hidden" id="reward-reference" name="reward_reference" value="">
            <input type="hidden" id="source-url" name="source_url" value="<?php echo $this->serverUrl(true); ?>">
            <input type="hidden" id="csrf-token" name="csrf_token" value="<?php echo $this->csrfToken; ?>">
            <input type="text" id="input-honeypot" name="honeypot" class="input-honeypot" size="1" value="">
        </form>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<div class="container hidden">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="button" class="btn btn-default btn-block btn-flat" data-toggle="modal" data-target="#modal-verification-error">Modal Error</button>
            <br>
            <button type="button" class="btn btn-default btn-block btn-flat" data-toggle="modal" data-target="#modal-registration">Modal Register</button>
        </div>
    </div><!-- row -->
</div>

<!-- MODAL: modal-verification-error -->
<div class="modal" id="modal-verification-error">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red-active">
                <h4 class="modal-title">Error Message</h4>
            </div>
            
            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <div>
                    Please contact XXXXXXXXXXX or visit our branch.
                </div>
            </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: modal-registration -->
<div class="modal" id="modal-registration">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green-active">
                <h4 class="modal-title">Success Message</h4>
            </div>
            
            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <br>

                <div class="nav-tabs-custom nav-tabs-custom-reward-registration">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_reward_register" data-toggle="tab" aria-expanded="false">Register</a>
                        </li>
                        <li class="">
                            <a href="#tab_reward_login" data-toggle="tab" aria-expanded="true">Login</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="tab_reward_register">
                            <form method="POST" id="form-reward-registration" name="form-reward-registration" autocomplete="off" action="<?php echo $this->baseUrl('/registration'); ?>">
                                <input type="hidden" id="source-url" name="source_url" value="<?php echo $this->serverUrl(true); ?>">
                                <input type="hidden" id="csrf-token" name="csrf_token" value="<?php echo $this->csrfToken; ?>">
                                <input type="text" id="input-honeypot" name="honeypot" class="input-honeypot" size="1" value="">

                                <div class="form-group">
                                    <label class="hidden-xs" for="input-name">Full Name</label>
                                    <input type="text" class="form-control" id="input-name" name="data[full_name]" placeholder="Enter full name as per IC">
                                    <span class="error-block" for="input-name">Help block with error</span>
                                </div>
                                
                                <div class="form-group">
                                    <label class="hidden-xs" for="input-mobile-number">Mobile Number</label>
                                    <input type="tel" class="form-control" id="input-mobile-number" name="data[mobile_number]" placeholder="Enter mobile number">
                                    <span class="error-block" for="input-mobile-number">Help block with error</span>
                                </div>

                                <div class="form-group">
                                    <label class="hidden-xs" for="input-email">Email</label>
                                    <input type="email" class="form-control" id="input-email" name="data[email]" placeholder="Enter email address">
                                    <span class="error-block" for="input-email">Help block with error</span>
                                </div>

                                <div class="form-group text-align-right">
                                    <button type="button" class="btn btn-primary" id="btnRegisterSubmit" data-action="register-submit">Register</button>
                                    <button type="button" class="btn btn-danger" id="btnRegisterCancel" data-action="register-cancel">Cancel</button>
                                </div>

                                <div id="error-message-register" class="alert alert-danger hidden" style="margin-top: 10px;">
                                  [error message]
                                </div>
                            </form>
                        </div><!-- /.tab-pane -->

                        <div class="tab-pane" id="tab_reward_login">
                            <form method="POST" id="form-reward-login" name="form-reward-login" autocomplete="off" action="<?php echo $this->baseUrl('/login'); ?>">
                                <input type="hidden" id="source-url" name="source_url" value="<?php echo $this->serverUrl(true); ?>">
                                <input type="hidden" id="csrf-token" name="csrf_token" value="<?php echo $this->csrfToken; ?>">
                                <input type="text" id="input-honeypot" name="honeypot" class="input-honeypot" size="1" value="">

                                <div class="form-group has-feedback">
                                    <label class="hidden-xs" for="input-email">Login Name</label>
                                    <input type="text" class="form-control" id="input-login-name" name="data[login_name]" placeholder="Enter login name">
                                    <!-- <span class="glyphicon glyphicon-envelope form-control-feedback"></span> -->
                                </div>

                                <div class="form-group has-feedback">
                                    <label class="hidden-xs" for="input-mobile-number">Password</label>
                                    <input type="password" class="form-control" id="input-password" name="data[login_pass]" placeholder="Enter password">
                                    <!-- <span class="glyphicon glyphicon-lock form-control-feedback"></span> -->
                                </div>

                                <div class="form-group text-align-right">
                                    <button type="button" class="btn btn-primary" id="btn-reward-login" data-action="reward-login">Sign In</button>
                                </div>

                                <div id="error-message-login" class="alert alert-danger hidden" style="margin-top: 10px;">
                                  [error message]
                                </div>
                            </form>
                            
                        </div><!-- /.tab-pane -->

                    </div><!-- /.tab-content -->
                </div><!-- .nav-tabs-custom -->
                
            </div>
                
            <div class="modal-footer hidden">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: modal-registration-cancel -->
<div class="modal" id="modal-registration-cancel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-yellow">
                <h4 class="modal-title">Warning</h4>
            </div>
            
            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <div>
                    Just few steps away to your offer.
                </div>
            </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-register-cancel">Close</button>
                <button type="button" class="btn btn-primary" id="btn-register-continue">Register</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: modal-thank-you -->
<div class="modal" id="modal-thank-you">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-yellow">
                <h4 class="modal-title">Thank You</h4>
            </div>
            
            <div class="modal-body">
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis.
                </div>
                <div>
                    Redirect to dashboard.
                </div>
            </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-thank-you-close">Close</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

