<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<?php echo $this->headTitle() . PHP_EOL; ?>
<?php echo $this->headMeta() . PHP_EOL; ?>
<link rel="shortcut icon" href="<?php echo $this->assetUrl('/images/favicon.png'); ?>">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->assetUrl('/bootstrap/css/bootstrap.min.css'); ?>">
<!-- Font Awesome -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->assetUrl('/font-awesome/css/font-awesome.min.css'); ?>">
<!-- Ionicons -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->assetUrl('/ionicons/css/ionicons.min.css'); ?>">
<!-- AdminLTE Theme & Skin -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->assetUrl('/css/AdminLTE/AdminLTE.min.css'); ?>">
<link rel="stylesheet" type="text/css" href="<?php echo $this->assetUrl('/css/AdminLTE/skins/skin-blue.min.css'); ?>">

<?php
$headLink = $this->headLink();

//
$assetUrl = rtrim($this->assetUrl('/'), '/');
$headLink->appendStylesheet("{$assetUrl}/css/style.css");
echo $headLink . PHP_EOL;
?>

<!--[if lt IE 9]>
<script src="<?php echo $this->assetUrl('/plugins/ie-fix/html5shiv.min.js'); ?>"></script>
<script src="<?php echo $this->assetUrl('/plugins/ie-fix/respond.min.js'); ?>"></script>
<![endif]-->
</head>

<?php
$uniquePageIdentifier = isset($this->uniquePageIdentifier) ? $this->uniquePageIdentifier : '';
$useBootstrapLayout = isset($this->useBootstrapLayout) ? $this->useBootstrapLayout : 0;
?>

<?php if($useBootstrapLayout == 1): ?>
<body class="bootstrap-layout <?php echo $uniquePageIdentifier; ?>">
<?php echo $this->layout()->content . PHP_EOL; ?>

<?php else: ?>
<body class="skin-blue sidebar-mini <?php echo $uniquePageIdentifier; ?>">
  <div class="wrapper">
  <?php echo $this->render('main/main-header.phtml') . PHP_EOL; ?>
  <?php echo $this->render('main/main-sidebar.phtml') . PHP_EOL; ?>

  <div class="content-wrapper">
    <?php echo $this->render('main/content-header.phtml') . PHP_EOL; ?>

    <!-- Main content -->
    <section class="content">
    <?php echo $this->layout()->content . PHP_EOL; ?>
    </section><!-- .content -->
  </div><!-- .content-wrapper -->

  <?php echo $this->render('main/main-footer.phtml') . PHP_EOL; ?>
  <?php #echo $this->render('main/control-sidebar.phtml') . PHP_EOL; ?>
</div><!-- wrapper -->
<?php endif; //if($useBootstrapLayout == 1) ?>

<!-- SCRIPTS-->
<script type="text/javascript" src="<?php echo $this->assetUrl('/plugins/jquery/jquery-2.2.4.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->assetUrl('/bootstrap/js/bootstrap.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->assetUrl('/plugins/slimScroll/jquery.slimscroll.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->assetUrl('/plugins/fastclick/fastclick.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->assetUrl('/plugins/moment/moment.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->assetUrl('/plugins/holder/holder.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->assetUrl('/plugins/js-cookie/js-cookie.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->assetUrl('/js/app.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->assetUrl('/js/common.js'); ?>"></script>

<?php
$inlineScript = $this->inlineScript();

//
$assetUrl = rtrim($this->assetUrl('/'), '/');
$inlineScript->appendFile("{$assetUrl}/js/script.js");

if(APPLICATION_ENV === 'development'){
  $inlineScript->appendFile("{$assetUrl}/js/debug.js");
}

echo $inlineScript . PHP_EOL;
?>
</body>
</html>