/* CUSTOM STYLING */

body {
    &.bootstrap-layout {
        background-color: #d2d6de;
    }
}

/* HELPER */
.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

/* FORM */
.input-honeypot {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.error-block {
    // color: #737373;
    color: #dd4b39;
    // display: block;
    display: none;
    margin-bottom: 10px;
    margin-top: 5px;

    &.show {
        display: block;
    }

    &.fade {
        opacity: 0;
        transition: opacity 0.15s linear 0s;
    }
}

.form-group {
    &.has-error {
        .error-block {
            display: block;

            &.fade {
                opacity: 1;
            }
        }
    }
}

/* */
.nav-tabs-custom-reward-registration {
    // margin-bottom: 20px;
    margin-bottom: 5px;

    > .tab-content {
        // padding: 10;
        // padding-left: 4px;
        // padding-right: 4px;
        padding: 2px 4px;
    }
}